
h1 {
	color: yellow;
	text-shadow: 2px 2px #ff0000;
	font-size: 50px;
}

#water {
	border-radius: 50%;
	width: 150px;
	height:150px;
	display: inline-block;
	position: absolute;
	background-image: url("images/water.jpg");
	background-size: 150px 150px;


}
#water:hover {
	box-shadow: 10px 10px 5px #888888;
}
#plant{
	border-radius: 50%;
	width: 150px;
	height:150px;
	display: inline-block;
	position: absolute;
	margin-top: 162px;
	background-image: url("images/plant.jpg");
	background-size: 150px 150px;
}
#plant:hover {
	box-shadow: 10px 10px 5px #888888;
}
#fire {
	border-radius: 50%;
	width: 150px;
	height:150px;
	display: inline-block;
	position: absolute;
	margin-top: 325px;
	background-image: url("images/fire.jpg");
	background-size: 150px 150px;
}
#fire:hover {
	box-shadow: 10px 10px 5px #888888;
}
	

#computer {
	border-radius: 50%;
	width: 150px;
	height:150px;
	margin-left: 250px;
	margin-top: 240px;
	display: inline-block;
	position: absolute;
	background-image: url("images/pokeball.jpg");
	background-size: 150px 150px;
	
}
#pick {
	border-radius: 50%;
	width: 150px;
	height:150px;
	float: right;
	display: inline-block;
	position: absolute;
	margin-top: 70px;
	margin-left: 250px;
	background-image: url("images/pokeball.jpg");
	background-size: 150px 150px;
}
#winner {
	width: 200px;
	height:200px;
	display: inline-block;
	position: absolute;
	float: right;
	margin-top: 260px;
	margin-left: 470px ;
	background-image: url("images/winner.jpg");
	background-size: 200px 200px;
}
